@import http://fonts.googleapis.com/css?family=Open+Sans;

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

/* The list will disply inline.*/
li {
    display:inline;
    margin:0 10px
}

/* Text from navbar aligned center.*/
#navbar {
    text-align:center
}

/* Style the navigation bar links.  */
#navbar a {
    font-family:fantasy;
    font-size:2.0em;
    padding:0 8px;
    color:floralwhite;
    text-decoration:none;
    background-color:mediumpurple;
    border-radius:10px
}

/* Give the user an affordance that each link is clickable. */
#navbar a:hover {
    border-color:#000
}

/* Style the active page link. */
#navbar a.active {
    border-color:gray
}

/* content to move to specific position.*/
#content {
    padding:0 16px;
    margin:100px
}
